<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Survey - Brewtiful Cafe</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='survey.css')}}"
    />
  </head>
  <body>
    <section class="survey">
      <h2>We Value Your Feedback</h2>
      <p>
        Please take a moment to let us know how we're doing and what we can
        improve!
      </p>
      <form action="/survey" method="POST" id="survey-form">
        <label for="name">Your Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Enter your name"
          required
        />

        <label for="email">Your Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter your email"
          required
        />

        <label for="rating">Rating:</label><br />
        <select id="rating" name="rating" required>
          <option value="Excellent">Excellent</option>
          <option value="Good">Good</option>
          <option value="Average">Average</option>
          <option value="Poor">Poor</option></select
        ><br /><br />

        <label for="suggestions">Your Suggestions:</label>
        <textarea
          id="suggestions"
          name="suggestions"
          rows="4"
          placeholder="Tell us how we can improve"
        ></textarea>
        <button type="submit">Submit Feedback</button>
      </form>
    </section>
  </body>
</html>
